<%= render :partial => 'toolbawks/auth_sso/logout_messaging' %>
<%= render :partial => 'toolbawks/auth_sso/logout_form' %>
<div id="button_toolbawks_auth_sso_logout" class="button_toolbawks_auth_sso_logout"><a href="#" onclick="Toolbawks.auth_sso.Logout.now(); return false;">Remote Logout</a></div>
<div id="button_toolbawks_auth_sso_logout" class="button_toolbawks_auth_sso_logout"><a href="#" onclick="Toolbawks.auth_sso.Logout.now(_local = true); return false;">Local Logout</a></div>