<%= render :partial => 'toolbawks/auth_sso/login_messaging' %>
<%= render :partial => 'toolbawks/auth_sso/login_form' %>
<a href="#toolbawks_auth_sso_login_container" id="button_toolbawks_auth_sso_login_popup" width="300" onclick="Toolbawks.auth_sso.Login.modal(); return false;">Login</a>