<% @sso = get_sso_defaults %>
<%= form_tag('#', { :id => 'toolbawks_auth_sso_logout'}) %>
  <%= hidden_field :toolbawks_auth_sso_logout, :date, :value => @sso[:date], :id => :toolbawks_auth_sso_logout_field_date %>
  <%= hidden_field :toolbawks_auth_sso_logout, :public_key, :value => @sso[:public_key], :id => :toolbawks_auth_sso_logout_field_public_key %>
  <%= hidden_field :toolbawks_auth_sso_logout, :secure_channel, :value => @sso[:secure_channel], :id => :toolbawks_auth_sso_logout_field_secure_channel %>
  <%= hidden_field :toolbawks_auth_sso_logout, :hash, :value => '', :id => :toolbawks_auth_sso_logout_field_hash %>
</form>