<% @sso = get_sso_defaults %>
<%= form_tag('#', { :id => 'toolbawks_auth_sso_status'}) %>
  <%= hidden_field :toolbawks_auth_sso_status, :date, :value => @sso[:date], :id => :toolbawks_auth_sso_status_field_date %>
  <%= hidden_field :toolbawks_auth_sso_status, :public_key, :value => @sso[:public_key], :id => :toolbawks_auth_sso_status_field_public_key %>
  <%= hidden_field :toolbawks_auth_sso_status, :secure_channel, :value => @sso[:secure_channel], :id => :toolbawks_auth_sso_status_field_secure_channel %>
  <%= hidden_field :toolbawks_auth_sso_status, :hash, :value => '', :id => :toolbawks_auth_sso_status_field_hash %>
</form>