<%= render :partial => 'toolbawks/auth_sso/status_messaging' %>
<%= render :partial => 'toolbawks/auth_sso/status_form' %>
<div id="button_toolbawks_auth_sso_status_update" class="button_toolbawks_auth_sso_status_update"><a href="#" onclick="Toolbawks.auth_sso.Status.update(); return false;">Update Remote Login Status</a></div>
<div id="button_toolbawks_auth_sso_status_update" class="button_toolbawks_auth_sso_status_update"><a href="#" onclick="Toolbawks.auth_sso.Status.update_local(); return false;">Update Local Login Status</a></div>