<h1>Toolbawks Single Sign On with <%= ToolbawksAuthSso.AUTH_TYPE.upcase %></h1>

<%= render :partial => 'toolbawks/auth_sso/login' %>

<%= render :partial => 'toolbawks/auth_sso/status' %>

<%= render :partial => 'toolbawks/auth_sso/logout' %>